/*<!--
  Student Name: Chantel Gee
  Assignment Name: (none - Main Page CSS)
  Date: 08.29.2024
*/

/*the following rule makes the background pink with sakura petals, aligns everything to the center, and keeps everything within 80% of the window size*/
body {
  background-color: pink;
  background-image: url(../images/sakura.png);
  margin: 0 auto;
  padding: 10px 10px;
  width: 80%
}

/*the following rule makes the header text blue, changes the font to Georgia, and centers the text*/
header {
  align-items: center;
  color: rgb(33, 77, 172);
  display: flex;
  font-family: Georgia, 'Times New Roman', Times, serif;
  justify-content: left;
  margin: 0 auto;
  text-align: center;
}

/*the following rule makes the header h1 text red*/
header h1 {
  color: rgb(139, 0, 0);
}

header img {
  border-radius: 50%;
}

/*the following rule will make the items purple and uppercase and changes the font to Gill Sans*/
a:link, a:visited{
	color: rgb(165, 23, 197);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	display: inline-block;
	padding: 0 1%;
	text-decoration: none;
	text-transform: uppercase;
	/* width: 100px; */
}

/*the following rule will give the link item background a pale yellow with blue text*/
a:hover{
	background-color: rgb(254, 255, 232);
  color: rgb(8, 44, 203);
  padding: 0 1%;
}

/*the following rule makes the background pale pink and adds margins and padding for visibility*/
main {
  background-color: rgb(255, 243, 240);
  margin: 10px;
  padding: 10px;
}

/*the following rule changes the section h2 color to blue, changes the font to Arial, adds margins and padding, and transforms the text to be uppercase*/
section h2 {
  border-left: 3px solid;
  color: rgb(76, 98, 207);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  margin-left: 10px;
  padding-left: 10px;
  text-transform: uppercase;
}

/*the following rule changes the section text to dark gray, changes the font to Cambria, and adds margins and padding*/
section p {
  color: rgb(60, 60, 64);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 10px 0;
  padding: 10px;
}

/*the following rule changes the strong text to blule and changes the font to Lucida Sans*/
strong {
  color: mediumblue;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*the following rule makes the background tan, changes the font color to red, changes the font to Segoe UI, reduces font size, increases font weight, and adds margins and padding*/
footer {
  background-color: antiquewhite;
  color: rgb(75, 0, 0);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: .85rem;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
}

 