/* Student Name: Chantel Gee */
/* Assignment Name: Lab 5: Audio and Video */
 /* Date: 10.21.2024 */

hr {
  margin: 3rem 0;
}

h1 {
  text-align: center;
}

main {
  display: flex;
  justify-content: space-evenly;
}