/* 
Student Name: Chantel Gee
Assignment Name: Project 4: Web App
Date: 12.10.2024 
*/

/* MOBILE SIZE */
@media only screen and (max-width : 700px) {

}

/* TABLET SIZE AND BIGGER */
@media only screen and (min-width : 700px) {
  body {
    background-color: antiquewhite;
  }

  header {
    display: flex;
    justify-content: space-evenly;
  }

  main {
    background-color: darkgreen;
  }

  #playerNames {
    display: flex;
    font-size: 1.25em;
    justify-content: space-evenly;
  }

  #cards {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    padding: 2%;
  }

  #playerCard, #dealerCard {
    background-color: transparent;
    border: solid 5px black;
    border-radius: 7%;
    display: inline-block;
    height: 314px;
    perspective: 1000px;
    width: 226px;
  }

  #playerCardInner {
    transform-style: preserve-3d;
    transition: transform 0.8s;
  }

  .flipped {
    transform: rotateY(180deg);
  }

  #playerCardFront, #playerCardBack {
    backface-visibility: hidden;
    border-radius: 7%;
    height: 314px;
    position: absolute;
    -webkit-backface-visibility: hidden; /* Safari */
    width: 226px;
  }

  #playerCardFront {
    transform: rotateY(180deg);
  }

  #buttons, #hiddenButton {
    display: flex;
    justify-content: space-evenly;
    padding: 0 15% 5%;
  }

  #buttons p, #buttons button, #hiddenButton button {
    font-size: 1.25em;
  }

  button {
    padding: 2%;
  }

  button:hover {
    cursor: pointer;
  }

  .hide {
    display: none;
  }

  footer {
    text-align: center;
    
  }
}