/* 
Student Name: Chantel Gee
Assignment Name: Project 4: Web App
Date: 12.09.2024 
*/

/* MOBILE SIZE */
@media only screen and (max-width : 700px) {

}

/* TABLET SIZE AND BIGGER */
@media only screen and (min-width : 700px) {
  body {
    background-color: antiquewhite;
  }

  header {
    display: flex;
    justify-content: space-evenly;
  }

  main {
    background-color: darkgreen;
  }

  #playerNames {
    display: flex;
    justify-content: space-evenly;
  }

  #cards {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    padding: 2%;
  }

  #playerCard {
    background-color: maroon;
    border: 5px, solid, white;
    display: inline-block;
    height: 350px;
    width: 250px;
  }

  #dealerCard {
    background-color: navy;
    background-size: 20%;
    border: 5px, solid, white;
    display: inline-block;
    height: 350px;
    width: 250px;
  }

  #buttons {
    display: flex;
    justify-content: space-evenly;
    padding: 0 15% 5%;
  }

  #buttons p, #buttons button {
    font-size: 1.25em;
  }

  button {
    padding: 2%;
  }

  button:hover {
    cursor: pointer;
  }
}