/* 

Student Name: Chantel Gee
Assignment Name: Project 2 - Photo Gallery
Date: 10.15.2024

*/

body {
  background-color: #13163c;
  margin: 0;
}

.headerNav {
  align-items: center;
  background-color: #020317;
  color: white;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
  overflow: hidden;
  padding: 0 2% 0;
}

nav {
  background-color: #17256a;
  display: flex;
  overflow: hidden;
}

nav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
a:hover {
  background-color: #c2dcee;
  color: black;
}

/* Add a color to the active/current link */
a.active {
  background-color: #201e8b;
  color: white;
}

/* NON JS VERS 

.slider {
  margin: auto;
  width: 90%;
}
 /* creates perfectly square images, photos are cropped and centered 
.slides {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 0.5fr);
}*/

.slide {
  max-height: 700px;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
}

.slides {
  margin: 0;
  width: 100%;
}

/* make buttons appear on sides of slide */

.slider {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 70%;
}

figcaption {
  background-color: rgb(92, 89, 105);
  color: white;
  padding: 1%;
  position: relative;
  text-align: center;
  z-index: 1; /* set higher z-index value */
}


/* Hide the images by default */
.hide {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  background-color: rgba(0, 0, 0, 0.3);
  box-sizing: content-box;
  cursor: pointer;
  position: absolute;
  height: 100%;
  width: auto;
  padding: 16px;
  color: rgb(200, 200, 200);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  border: none;
}

.prev {
  left: 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 1);
}