/* 

Student Name: Chantel Gee
Assignment Name: Project 2 - Photo Gallery
Date: 10.10.2024

*/

/* creates perfectly square images, photos are cropped and centered */
.container {
  box-sizing: border-box;
  height: 300px;
  width: 300px;
}

img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
