/* 
Student Name: Chantel Gee
Assignment Name: Project 3: Dynamic Media Player
Date: 10.29.2024 
*/

body {
  background-color: rgb(22, 22, 22);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

header {
  /* background-color: burlywood; */
  display: flex;
  justify-content: space-between;
  padding: 0 2%;
}

header div {
  /* background-color: antiquewhite; */
  color: whitesmoke;
  display: inline;
  font-size: 1.3em;
}

#logoTitle {
  align-items: center;
  display: inline-flex;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 1% 0;
}

#menu>p {
  margin: 0;
  padding-right: 20px;
}

#logo1 {
  background-color: maroon;
  border-radius: 20%;
  margin: 0;
  padding: 5px;
}

#logo2, #menu {
  margin: 0;
  padding: 5px;
}

#profile {
  align-items: center;
  display: flex;
}

#profile>p {
  background-color: pink;
  border: solid 2px maroon;
  border-radius: 50%;
  color: rgb(179, 13, 140);
  margin: 0;
  padding: 5px 10px;
}

#V>p {
  /* background-color: rgb(213, 110, 110); */
  border-radius: 1%;
  color: whitesmoke;
  display: block;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5em;
  margin: 2% 2%;
  width: 100%;
}

video {
  margin: 0 3% 0;
  max-width: 700px;
  width: 100%;
}

.v-controls {
  background-color: rgb(59, 59, 59);
  color: whitesmoke;
  margin: 2%;
  padding: 1% 2%;
}

.v-controls p {
  color: pink;
  padding: 2% 1%;
}

#begin {
  background-color: rgb(96, 58, 58);
  color: white
}

.hide {
  display: none;
}

/* TABLET SIZE AND BIGGER */
@media only screen and (min-width : 800px) {
  
  main {
    display: flex;
    justify-content: space-between;
  }

  #V {
    border-radius: 1%;
    display: block;
    margin: 0 auto;
    width: 49%;
  }

  #vc-title:hover {
    cursor: pointer;
  }  

  .chapters {
  display: flex;
  }

  .col {
    flex: 50%;
  }

  .v-controls p:hover {
    border: dotted 1px pink;
    cursor: pointer;
  }

  #inserts {
    background-color: gray;
    border-radius: 1%;
    color: whitesmoke;
    display: block;
    font-size: 1.3em;
    height: 750px;
    margin: auto;
    overflow-y: scroll;
    text-align: center;
    width: 49%;
  }

  /* change p to whatever you decide to use */
  #inserts iframe {
    background-color: aliceblue;
    display: none;
    height: 60%;
    margin: 4% auto;
    width: 92%;
  }
}

/* MOBILE SIZE */
@media only screen and (max-width : 799px) {
  
  #V {
    margin: auto;
  }

  #inserts {
    background-color: gray;
    border-radius: 1%;
    color: whitesmoke;
    display: block;
    font-size: 1.3em;
    height: 500px;
    margin: auto;
    overflow-y: scroll;
    text-align: center;
    width: 96%;
  }

  /* change p to whatever you decide to use */
  #inserts iframe {
    background-color: aliceblue;
    display: none;
    height: 90%;
    margin: 4% auto;
    width: 90%;
  }

}