/* 
Student Name: Chantel Gee
Assignment Name: Project 3: Dynamic Media Player
Date: 10.29.2024 
*/

body {
  background-color: rgb(22, 22, 22);
  margin: 0;
}

header {
  /* background-color: burlywood; */
  display: flex;
  justify-content: space-between;
  padding: 1%;
  margin: 1%;
}

header div {
  background-color: antiquewhite;
  display: inline;
  padding: 1%;
}

main {
  display: flex;
  justify-content: space-between;
}

#V {
  border-radius: 1%;
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 49%;
}

#V>p {
  background-color: rgb(213, 110, 110);
  border-radius: 1%;
  display: block;
  height: 45%;
  margin: auto;
  text-align: center;
  width: 100%;
}

.v-controls {
  background-color: bisque;
  margin: 2% 0;
  padding: 1% 0;
}

#inserts {
  background-color: gray;
  border-radius: 1%;
  display: block;
  height: 750px;
  margin: auto;
  overflow-y: scroll;
  text-align: center;
  width: 49%;
}

#inserts p {
  background-color: aliceblue;
  display: block;
  height: 20%;
  margin: 4% auto;
  width: 96%;
}