/* 
Student Name: Chantel Gee
Assignment Name: Project 3: Dynamic Media Player
Date: 10.25.2024 
*/

body {
  background-color: rgb(22, 22, 22);
  margin: 0;
}

header {
  /* background-color: burlywood; */
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 5px 15px 15px;
}

header div {
  background-color: antiquewhite;
  display: inline;
  padding: 10px;
}

main {
  display: flex;
  justify-content: space-between;
}

#V {
  border-radius: 1%;
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 60%;
}

#V>p {
  background-color: rgb(213, 110, 110);
  border-radius: 1%;
  display: block;
  height: 500px;
  margin: auto;
  text-align: center;
  width: 100%;
}

.v-controls {
  background-color: bisque;
  margin: 10px 0;
  padding: 1px 0;
}

#inserts {
  background-color: gray;
  border-radius: 1%;
  display: block;
  height: 750px;
  margin: auto;
  overflow-y: scroll;
  text-align: center;
  width: 35%;
}

#inserts p {
  background-color: aliceblue;
  display: block;
  height: 150px;
  margin: 4% auto;
  width: 90%;
}