/* 
Student Name: Chantel Gee
Assignment Name: Lab 7: Fun with Remote APIs
Date: 11.30.2024 
*/

/* MOBILE SIZE */
@media only screen and (max-width : 700px) {

  body {
    background-color: rgb(26, 22, 35);
    background-image: url(https://images.unsplash.com/photo-1579267217516-b73084bd79a6?q=80&w=3087&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    margin: 0;
    padding: 0;
  }

  .logoTitle {
    align-items: center;
    background-color: rgba(224, 234, 238, .75);
    color: rgb(7, 27, 107);
    display: flex;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3em;
    padding-right: 1%;
  }

  .logoTitle figure {
    margin: 0;
    padding-right: 5%;
  }

  nav {
    background-color: rgb(145, 200, 213);
    display: flex;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: space-between;
    padding: 2% 5%;
  }

  nav a {
    color: rgb(23, 18, 153);
    text-decoration: none;
  }

  main {
    color: aliceblue;
    font-family:'Times New Roman', Times, serif;
    margin: 10%;
    text-align: center;
  }

  main h1 {
    font-size: 2.5em;
  }

  main h3, h3 a {
    background-color: rgb(87, 24, 189);
    color: white;
    display: inline;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    padding: 17px;
    text-decoration: none;
  }

  main h4 {
    color: rgb(225, 182, 229);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: .85em;
    text-transform: uppercase;
  }

  main p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.25em;
    margin-bottom: 50px;
  }
}

/* TABLET SIZE AND BIGGER */
@media only screen and (min-width : 700px) {

  body {
    background-color: rgb(26, 22, 35);
    background-image: url(https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3Y1NjctYWRqLTIwLWRvb2RsZXMtam9iNTk3LmpwZw.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
  }

  .logoTitle {
    align-items: center;
    background-color: rgba(224, 234, 238, .75);
    color: rgb(35, 0, 140);
    display: flex;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3em;
    padding-right: 1%;
  }

  figure>img {
    margin: 3% 0 0 0;
  }

  .logoTitle h1 {
    animation: colors 2s ease;
    animation-delay: 1s;
  }

  .logoTitle figure {
    margin: 0;
    padding-right: 5%;
  }

  nav {
    background-color: rgb(159, 124, 215);
    display: flex;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: space-between;
    padding: 1% 5%;
  }

  nav a {
    color: rgb(23, 18, 153);
    padding: 1%;
    text-decoration: underline;
    transition: all 1s ease;
  }

  nav a:hover {
    background-color: rgb(236, 195, 240);
    padding: 1%;
    text-decoration: overline;
    transition: all 1s ease;
  }

  main {
    background-color: rgba(42, 35, 97, 0.75);
    border-radius: 5%;
    color: aliceblue;
    font-family:'Times New Roman', Times, serif;
    margin: 10%;
    padding: 5%;
    text-align: center;
  }

  main h1 {
    font-size: 3.5em;
  }

  main h3 {
    background: linear-gradient(to left, rgb(87, 24, 189) 50%, white 50%) right;
    background-size: 300%;
  }

  main h3, h3 a {
    color: white;
    display: inline;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    padding: 17px;
    text-decoration: none;
    transition: .75s ease-out;
  }

  main h3:hover {
    background-position: left;
    border-radius: 7px;
  }

  h3 a:hover {
    color: rgb(64, 52, 236);
    font-size: 1.2em;
    font-weight: bold;
  }

  main h4 {
    color: rgb(225, 182, 229);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: .85em;
    text-transform: uppercase;
  }

  main p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.25em;
    margin-bottom: 50px;
  }
}