/* Student Name: Chantel Gee
Assignment Name: Lab 4: Changing the DOM
Date: 10.01.2024 */

/* TABLET SIZE AND BIGGER */
@media only screen and (min-width : 700px) {

  /* all images are the same size without distorting */
  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  .grid {
    box-sizing: border-box;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;  
  }

  h2 {
    text-align: center;
  }

  /* photo gallery portion */
  .slider {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 80%;
  }

  figcaption {
    background-color: rgb(92, 89, 105);
    color: white;
    padding: 1%;
    text-align: center;
  }

  /* previous and next buttons*/
  .slider button {
    background-color: rgb(156, 153, 169);
    border: none;
    height: 500px;
    margin: 0 20px;
    width: 200px;
  } 

  .slide {
    max-height: 700px;
    max-width: 1000px;
  }

  .hide, .prev, .next, .wJS, .prevMobile {
    display: none;
  }
}

/* MOBILE SIZE */
@media only screen and (max-width : 699px) {
  /* all images are the same size without distorting */
  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  .grid {
    box-sizing: border-box;
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;  
  }

  h2 {
    text-align: center;
  }

  /* photo gallery portion */
  .slider {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 80%;
  }

  figcaption {
    background-color: rgb(92, 89, 105);
    color: white;
    padding: 1%;
    text-align: center;
  }

  /* previous and next buttons*/
  .slider button {
    background-color: rgb(156, 153, 169);
    border: none;
    height: 500px;
    margin: 0 20px;
    width: 200px;
  } 

  .slide {
    max-height: 700px;
    max-width: 1000px;
  }

  .hide, .prev, .next, .wJS, .prevMobile {
    display: none;
  }
}