/* Student Name: Chantel Gee
Assignment Name: Lab 4: Changing the DOM
Date: 10.04.2024 */

@font-face {
  font-family: badSignal; 
  src: url(badSignal.otf); 
}

/* TABLET SIZE AND BIGGER */
@media only screen and (min-width : 700px) {

  body {
    background-color: rgb(15, 17, 45);
    margin: 0;
  }

  .title {
    background-color: rgb(10, 9, 29);
    color: white;
    font-family: badSignal;
    font-size: 1.5rem;
    padding: 10px 40px;
  }
  
  nav, a {
    background-color: rgb(37, 43, 73);
    color: white;
    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    justify-content: space-around;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
  }

  a:hover {
    color: rgb(59, 144, 230);
  }

  /* all images are the same size without distorting */
  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  .grid {
    box-sizing: border-box;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;  
  }

  h2 {
    color: whitesmoke;
    text-align: center;
  }

  /* photo gallery portion */
  .slider {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 85%;
  }

  figcaption {
    background-color: rgb(92, 89, 105);
    color: white;
    padding: 1%;
    text-align: center;
  }

  /* previous and next buttons*/
  .slider button {
    background-color: rgb(70, 102, 145);
    border: none;
    height: 300px;
    margin: 0 20px;
    width: 200px;
  } 

  .slide {
    max-height: 700px;
    max-width: 1000px;
  }

  .hide, .wJS, .prev, .next, .prevMobile, .nextMobile {
    display: none;
  }

  footer {
    background-color: black;
    color: whitesmoke;
    margin-top: 5%;
    padding: 20px;
    text-align: center;
  }
}

/* MOBILE SIZE */
@media only screen and (max-width : 699px) {

  body {
    background-color: rgb(15, 17, 45);
    margin: 0;
  }

  .title {
    background-color: rgb(10, 9, 29);
    color: white;
    font-family: badSignal;
    padding: 10px 40px;
  }
  
  nav, a {
    background-color: rgb(37, 43, 73);
    color: white;
    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    justify-content: space-around;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
  }

  /* all images are the same size without distorting */
  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  .grid {
    box-sizing: border-box;
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;  
  }

  h2 {
    color: whitesmoke;
    text-align: center;
  }

  /* photo gallery portion */
  .slider {
    align-items: center;
    display: block;
    justify-content: center;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 80%;
  }

  figcaption {
    background-color: rgb(92, 89, 105);
    color: white;
    padding: 1%;
    text-align: center;
  }

  .buttonsMobile {
    display: flex;
  }

  /* previous and next buttons*/
  .slider button {
    /* background-color: rgb(156, 153, 169); */
    border: none;
    height: 150px;
    width: 60%;
  } 
  .prevMobile {
    background-color: rgb(70, 102, 145);
  }

  .nextMobile {
    background-color: rgb(70, 78, 145);
  }

  .slide {
    max-height: 700px;
    max-width: 1000px;
  }

  .hide, .prev, .next, .wJS, .prevMobile, .nextMobile {
    display: none;
  }

  footer {
    background-color: black;
    color: whitesmoke;
    margin-top: 5%;
    padding: 20px;
    text-align: center;
  }
}